/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* --------- fin du reset -------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------- fin du reset -------- */
/* --------- typos -------- */

/* media sans extended */
@font-face {
    font-family: mediasansblackitalic;
    src: url("../typo/Media_sans_extended/mediasansextended-blackitalic.otf") format("opentype");
}

/* suisse intl */
@font-face {
    font-family: suisseintllight;
    src: url("../typo/Suisse_Intl/Suisseintl-Light.otf") format("opentype");
}
@font-face {
    font-family: suisseintlbold;
    src: url("../typo/Suisse_Intl/Suisseintl-Bold.otf") format("opentype");
}
@font-face {
    font-family: suisseintlsemibold;
    src: url("../typo/Suisse_Intl/Suisseintl-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: suisseintlmedium;
    src: url("../typo/Suisse_Intl/Suisseintl-Medium.ttf") format("truetype");
}

/* --------- fin typos -------- */
/* --------- feuille de style -------- */
/* --------- general -------- */
.hidden{
    display: none;
}
body{
    margin: 0 auto;
}
main{
    margin: 0 auto;/* 100/16 */
    max-width: 1440px;
}
p{
    font-family: suisseintllight,sans-serif;
    letter-spacing: 0.08em;
}
button{
    background-color: #FBAF28;
    border: none;
    padding:  14px 18px ;
    border-radius: 0.3125em;/* 5/16 */
    cursor: pointer;
    font-family: suisseintlbold,sans-serif;
    color: black;
}
strong{
    font-family: suisseintlsemibold;
}
h1,h2,h3,h4{
    font-family: suisseintlbold,sans-serif;
}
h2{
    font-size: 2.25em;/* 36/16 */
}

/* --------- header -------- */
.header__container{
    background-image: url("../img/bannierecut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.header__nav{
    max-width: 1800px;
}
.header__steamer{
    display: flex;
    justify-content: center;
    font-size: 0.5em;/* 11/22 */
    color: black;
    background-color: #fff;
}
.header__message{
    padding: 0.81818em 0 0.81818em 0 ;/* 9/11 */
}
.header__logo{
    width: 70px;
    height: 70px;
}
.header__logo{
    position: absolute;
    left: 48%;
}

/* nav */
.nav{
    margin: 0 auto;
    padding: 1.875em 2.5em;/* 30/18 */ /* 40/18 */
    font-family: suisseintlmedium,sans-serif;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.left .nav__item{
    padding-right: 1.38889em;/* 18/25 */
}
.right .nav__item{
    padding-left: 1.38889em;/* 18/25 */
}

/* name */
.header__names{
    margin: 25em auto 0 auto;/* 600/18 */
    max-width: 1800px;
}
.header__names p{
    font-family: mediasansblackitalic,sans-serif;
    font-size: 6.88889em;/* 124/18 */
    padding-bottom: 0.20161em;/* 25/124 */
    letter-spacing: 0;
}
.header__name{
    padding-left: 0.16129em;/* 20/124 */
}
.header__firstname{
    padding-left: 1.04839em;/* 130/124 */
}
.header{
    margin-bottom: 5.625em;/* 90/16 */
}


/* --------- main -------- */
/* -------- intro -------- */
.presentation__intro{
    width: 38.75em;/* 620/16 */
    margin: 0 auto 9.375em auto;/* 150/16 */
}
.intro__title{
    margin-bottom: 1.66667em;/* 60/36 */
}
.intro__text:nth-child(1n){
    margin-bottom: 2.72727em;/* 60/22 */
}
.intro__text{
    line-height: 1.5;
    font-size: 1.375em;/* 16/22 */
}

/* -------- tools -------- */
.presentation{
    margin: 0 auto;
    margin-bottom: 18.75em;/* 300/16 */
}
.presentation__tools{
    margin: 0 3.125em 0 3.125em;/* 50/16 */
}
.tools__title{
    margin-bottom: 2.83333em;/* 85/30 */
}
.tools__list{
    display: flex;
    justify-content: space-between;
    margin: 0 1.25em 2.5em 1.25em;/* 20/16 */ /* 40/16 */
}
.tools__img{
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #707070 solid 1px;
    margin-bottom: 0.625em;/* 10/16 */
}
.tools__img img{
    height: 70%;
    width: 70%;
}
.tools__use{
    font-size: 1.125em;/* 18/16 */
    margin-bottom: 0.18182em;/* 2/11 */
    line-height: 1.3;
}
.tools__name{
    font-family: suisseintlbold,sans-serif;
    font-size: 1.0625em;/* 17/16 */
}
.tools__button{
    display: flex;
    flex-direction: row-reverse;
}

/* -------- Web --------- */
.web{
    margin: 0 3.125em 0 3.125em;
}
.web__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10.625em;/* 170/16 */
}
.intro_title, .animation__title{
    font-family: mediasansblackitalic,sans-serif;
    font-size: 2.625em;/* 42/16 */
    width: 400px;
    margin-bottom: 0.83333em;/* 35/42 */
}
.intro__description, .animation__text{
    font-size: 1.125em;/* 18/16 */
    line-height: 1.5em;/*27/18*/
    width: 349px;
    margin-bottom: 2.22222em;/* 40/18 */
}
.web__design, .web__developement{
    display: flex;
    justify-content: center;
}
.design__container, .development__container{
    max-width: 700px;
    margin-bottom: 8.75em;/* 140/16 */
}
.design__title, .developement__title{
    font-size: 2.25em;/* 36/16 */
    margin-bottom: 1.80556em;/* 65/36 */
}
.design__text, .developement__text{
    font-size: 1.375em;/* 22/16 */
    line-height: 31px;
}
.web__animation{
    background-color: #F4F4F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em;/* 80/16 */
    margin-bottom: 8.75em;/* 140/16 */
}
.animation__svg{
    margin-right: 7.5em;/* 120/16 */
}

/* ----- comments ------ */
.comments{
    position: relative;
    margin: 0 3.125em 0 3.125em;
    max-width: 1440px;
}
.comments__container{
    width: 100%;
    margin-bottom: 15em;
}
/* comments rectangles */
.comments__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.comments__gridright{
    text-align: right;
}
.comments__gridleft img{
    width: 90%;
}
.comments__gridright img{
    width:70%;
    height: 110%;
}
/* comments illu and title */
.comments__illustration{
    width: 80%;
    position: absolute;
    top: 3.5%;
    left: 10%;

}
.comments__illustration img{
    width: 100%;
}
.comments__illustration div{
    position: absolute;
    top: 37%;
    left: 10%;
}
.comments__title{
    color: #ffffff;
    font-family: mediasansblackitalic,sans-serif;
    line-height: 1.2;
    font-size: 3.8em;
    text-transform: uppercase;
}
.comments__title:nth-child(2n){
    margin-left: 1.5em;
}
/* comments slider rectangles */
.comments__slidergrid{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
.comments__sliderright{
    text-align: right;
}
.comments__sliderleft img{
    width: 85%;
}
.comments__sliderright img{
    width: 60.8%;
}
/* comments slider */
.comments__slider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10.625em;
}
.comments__list{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    overflow-x: auto;
    scrollbar: hide;
    position: absolute;
    width: 90%;
}
.comments__img{
    width: 100%;
}
.comments__item{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.comments__oposite > img{
    grid-row-start: 2;
}
.comments__oposite > div{
    grid-row-start: 1;
}
.comments__text{
    padding: 1.5em;
    text-align: center;
}
.comments__name{
    font-family: mediasansblackitalic,sans-serif;
    margin: 1em 0 1em 0;
}
.comments__comment{
    line-height: 1.2;
}

/* -------- school -------- */
/* general */
.studies{
    margin: 0 3.125em 8.125em 3.125em;/* 130/16 */
}
.studies__title{
    text-align: center;
    font-family: mediasansblackitalic,sans-serif;
    font-size: 2.625em;/* 42/16 */
    margin-bottom: 3.09524em;/* 130/42 */
}
/* grid */
.studies__top{
    display: grid;
    grid-template-areas: "left right";
    margin-bottom: 8.125em;/* 130/16 */
}
.studies__bottom{
    display: grid;
    grid-template-areas: "left right";
}
/* content */
.studies__degree{
    background-color: #F6F6F6;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em 0 1.5em 0;
}
.studies__qualif{
    width: 50%;
    line-height: 1.21;
}
.studies__topleft{
    border-top: 1px solid;
    margin-right: 2em;
}
.studies__bottomright{
    border-top: 1px solid;
    margin-left: 2em;
}
.studies__school{
    font-size: 1.875em;/* 30/16 */
    line-height: 1.45;
    margin-bottom: 1em;/* 30/30 */
}
.studies__description{
    line-height: 1.24;
    margin-bottom: 1.875em;/* 30/16 */
}
.studies__img{
    height: 100%;
}
/* ------- hobbies ------- */
.hobbies{
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4em;
    margin: 0 3.125em 8.125em 3.125em;/* 130/16 */
}
.hobbies__title{
    font-family: mediasansblackitalic,sans-serif;
    font-size: 2.625em;
    width: 70%;
    margin-bottom: 0.83333em;
}
.hobbies__text{
    font-size: 1.125em;
    line-height: 1.5em;
    width: 349px;
    margin-bottom: 2.22222em;
}
.hobbies__img{
    width: 90%;
}
/* ------- gallery ------- */
.gallery{
    margin: 0 3.125em 8.125em 3.125em;/* 130/16 */
}
.gallery__list{
    display: grid;
    grid-gap: 1%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow-x: auto;
    height: 300px;
}
.gallery__item{
    width: 100%;
    height: 100%;
}
.gallery__img{
    width: 100%;
    height: 297px;
}




